/*commun à tous*/

@font-face {
    font-family : Montserrat;
    src:
    url(assets/police/montserrat-arabic/Montserrat-Arabic\ Regular//);
}
    
* { box-sizing: border-box; margin: 0; padding: 0; }
html,body { height: 100%; }

.body{
  font-family: Arial, Helvetica, sans-serif;
}



/*contact*/

      .contact {
        background: #e89d0c;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        padding-bottom: 40px;
        min-height: 100vh;
    }


    h1 {
        text-align: center;
        font-size: 32px;
        margin-top: 20px;
        font-weight: 900;
        color: #1a1a1a;
    }

    h2 {
        text-align: center;
        align-items: center;
        margin-top: -10px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }





/* Labels */
    label {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        margin-left: 22px;
    }

/* Champs */
    .input-row {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

input{
        width: 40%;
        background: #996910;
        border: 3px solid #000;
        border-radius: 15px;
        padding: 10px;
        margin: 10px 0 20px 0;
        font-size: 14px;
        font-weight: bold;
    }

    .small-input {
        width: 45%;
    }

    textarea {
        max-width: 90%;
        height: 150px;
        resize: none;
        background: #996910;
        border: 3px solid #000;
        border-radius: 15px;
        padding: 10px;
        margin: 10px 0 20px 0;
        font-size: 14px;
        font-weight: bold;
    }
/* Bouton */
    button {
        display: block;
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        background: #e8d20a;
        border-radius: 15px;
        cursor: pointer;
        border: 3px solid #000;
       }
